@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex; 
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  height: auto;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul {
  list-style-type: none; 
  padding-left: auto; 

}
a {
  text-decoration: none; 
  color: gray; 
}

.header { 
  display: flex;

}

.header .left-links {
  display: flex; 
  padding-left: 16px;
  gap: 10px; 
  

}
.header .right-links {
  display: flex; 
  margin-left: auto;
  padding-right: 16px;
  padding-left: 0;
  gap: 10px; 
}


.content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer { 
  display: flex; 
  background-color: #eeeeee;
  margin-top: auto;
}

.footer .left-links {
  display: flex; 
  padding-left: 16px;
  gap: 10px; 
}
.footer .right-links { 
  display: flex;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 0;
  gap: 10px; 
}

/* solution parts take note of - notice how they chained the header and footer. I thought about the first time I attempted this but when I tried again I must have had something else conflicting in my CSS. However what I did above works just took the LONG way around the horn. 

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
} */