body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME padding changed to get space around contents and margin to gain space between the two block elements */
  padding: 32px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME we will change this margin and allow margin collaspe to do its thing */
  margin-bottom: 50px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME start small on margin left to move til desire position is achieved */
  padding: 32px;
  /* At first I used px but realized if I use auto, the left margin receives a share of the unused horizontal space, as determined mainly by the layout mode that is used */
  margin-left: auto;
}